@model SAUniversity
@{ 
    ViewData["Title"] = "Delete University";
}
<h2>Delete University</h2>
<p class="text-danger">@ViewData["ErrorMessage"]</p>
<h4>Are you sure you want to delete this university?</h4>
<div>
    <p style="color: red; font-weight:400;">
        @Model.Name
    </p>
    <form method="post" asp-action="Delete">
        <input type="hidden" asp-for="SAUniversityId"/>
        <input type="submit" value="Delete" class="btn btn-dark"/> |
        <a asp-controller="SAUniversity" asp-action="PriorityAreas">Back to List</a>
    </form>
</div>
