@{
    ViewData["Title"] = "About STLA";
}

<div>
    <h2>How the site works</h2>
    <p>This is a demo of a site that allows students to submit an application form to apply for a loan to study at a university in South  Africa. Applicants can view a list of Universities and courses that are considered a priority amongst applicants. Applicants can also fill in and submit an application form.</p>
    <p>An administrator can visit the site to get a summary, as well as see the full details of an application. Admin can also delete an application after viewing its full details. Another thing that admin can do that Applicants cannot, is to Add, Edit or Delete a university from the list of priority institutions.<br/>
    Since one cannot register as an admin, the following are admin credentials:</p>
    <p>Email: admin@example.com<br/>Password: Secret123$</p>
</div>