@{
    ViewData["Title"] = "Applications";
}
<div>
    <h4>
        Applications
    </h4>
    <p> Note that only online applications will be accepted until further notice. In order to apply, you will need a working email address and your identification number or your passport number. If you are unable to apply online, send an email to <a href="mailto:nobody@example.com">nobody@example.com</a> with details of your problem and arrangements will be made.</p>
    <p>The closing date for applications for sponsorship to study next year will close on the 30th of August. </p>
    <p>If you experience any problems with your applications or have any enquiries, contact us at: +27 011 0000.</p>

    <a asp-controller="Apply" asp-action="Apply" class="btn btn-primary">Apply now</a>
    <a asp-action="List" class="btn btn-danger">List all applications</a>

</div>